<div ng-controller="SearchCtrl as ctrl" layout="column" ng-cloak>
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <h3>This searchbox will not perform any search, instead it will collect the search analytics. Start typing to try.</h3>
      <md-autocomplete
          md-no-cache="true"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.display"
          md-autofocus="true"
          placeholder="How can I help you with?">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          Nothing matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
  </md-content>
</div>


<div flex ng-controller="AnalyticsCtrl as ctrl" md-whiteframe="1" layout="column" ng-cloak>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Analytics</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>

    <md-list>
      <md-list-item ng-repeat="(key, value) in ctrl.analytics">
        <p>{{key}} ({{ value }} times)</p>
      </md-list-item>
    </md-list>

    <section layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="ctrl.updateAnalytics()">Update</md-button>
      <md-button class="md-raised md-warn" ng-click="ctrl.clearAnalytics()">Clear</md-button>
    </section>
  </md-content>
</div>
